<h2>Table data from GeT api</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Avatar</th>
          </tr>
         
      
                
                    <tr *ngFor="let person of apiData.data"> 
                    <td>  {{ person.id }}</td>
                    <td> {{ person.email }} </td>
                    <td> {{ person.first_name }} </td>
                    <td> {{ person.last_name}} </td>
                  <td><img src=" {{person.avatar}}" /></td>
                
                </tr>

    </table>