<form class="modal-content" action="/action_page.php">
<div class="container">
  <div class="col-md-12">
    <div class="pull-left">
      <h2>UPDATE USER</h2>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" [(ngModel)]="apiData.email" name="email">
    <br>
    <label for="id"><b>ID</b></label>
    <input type="id" placeholder="Enter id" [(ngModel)]="apiData.id" name="id">
    <br>
    <label for="first_name"><b>first_name</b></label>
    <input type="first_name" placeholder="first_name" [(ngModel)]="apiData.first_name" name="first_name">
    <br>
    <label for="last_name"><b>last_name</b></label>
    <input type="last_name" placeholder="last_name" [(ngModel)]="apiData.last_name" name="last_name">
    <br>
    <button type="button" class="btn btn-primary">Update</button>

  </div>
</div>
</form>